.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 20%;
  background: rgb(56 182 255);
  color: #fff;
  transition: all 0.3s;
  margin: 2% 2%;
}
#sidebar ul {
  padding: 10px 0px;
}

#sidebar ul li a {
  font-size: 15px;
  display: block;
  color: #fff;
  padding: 4% 6%;
  margin-right: 5%;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: 500;
}
#sidebar .sidebar-header {
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  border-bottom: 1px solid #fff;
}

#sidebar ul li a:hover {
  color: #ff3d46;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 60px;

  transform: translateY(-50%);
}

#pageSubmenu {
  margin-left: 8%;
}
#Submenu {
  margin-left: 8%;
}
ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
#sidebar .panel-mark {
  background-color: #ccc;
  width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  #sidebar {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #sidebar {
    width: 85%;
    position: absolute;
    left: 6%;
  }
}

.container-content {
  width: 90%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  height: 20%;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background-color: #47bcd4;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
  .row-content {
    margin-top: 134%;
  }
}
h4 {
  font-size: 14px;
}

@media screen and (max-width: 620px) {
  .container-content {
    width: 100%;
    margin-top: 155%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}
