.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 700px;
  background: rgb(56 182 255);
  color: #fff;
  transition: all 0.3s;
  margin: 2% 2%;
}
#sidebar ul {
  padding: 10px 0px;
}

#sidebar ul li a {
  font-size: 15px;
  display: block;
  color: #fff;
  padding: 4% 6%;
  margin-right: 5%;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: 500;
}
#sidebar .sidebar-header {
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  border-bottom: 1px solid #fff;
}

#sidebar ul li a:hover {
  color: #ff3d46;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 60px;

  transform: translateY(-50%);
}

#pageSubmenu {
  margin-left: 8%;
}
#Submenu {
  margin-left: 8%;
}
ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
#sidebar .panel-mark {
  background-color: #ccc;
  width: 100%;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 2%;
  height: auto;
  transition: all 0.3s;
}
#content .card {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 20%;
}
#content .card .card-img-top {
  width: 100%;
  height: 50%;
}
#content .card .card-title {
  padding: 3%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  top: -5px;
  font-family: 'Roboto', sans-serif;
  height: 500px;
}
.container-content {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-content {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 200px;
}

.tag {
  background: #cccccc;
  border-radius: 3px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 6px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-pink {
  background-color: #47bcd4;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.card-body h4 {
  text-transform: uppercase;
  font-size:13px;
}
.btn-outline-primary {
  padding: 10% 10px;
  margin: 9%;
}
.btn-outline-primary:hover {
  background-color: #47bcd4;
}
